# .NET
bin/
obj/
*.user
.vs/

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Local env
*.env
appsettings.*.Local.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
